@import '../../styles/base.css';

body {
  background: rgb(0, 255, 255);
  font-size: 2rem;
}

.words {
  background: white;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 0.4rem;
  background-size: 100% 3rem;
  box-shadow: 1rem 1rem rgb(0, 120, 255);
  line-height: 3rem;
  margin: 5rem auto;
  max-width: 50rem;
  padding: 1rem 2rem 1rem 5rem;
  position: relative;
}

.words > * {
  margin: 0 0 3rem;
}

.words:before {
  border: 0.1rem solid;
  border-color: transparent #efe4e4;
  bottom: 0;
  content: '';
  left: 3rem;
  position: absolute;
  top: 0;
  width: 0.4rem;
}

@media (max-width: 35em) {
  .words {
    width: 90%;
  }
}
