{% extends 'shared/base.html' %}

{% from 'shared/utils.html' import render_form_errors, render_password %}

{% block title %}Reset Password | Dawdle{% endblock %}

{% set container_classes='auth-page hero has-background-info has-background-pattern-info is-fullheight-with-navbar' %}

{% block content %}
  <div class="hero-body">
    <div class="container">
      <div class="column is-10-tablet is-offset-1-tablet is-6-desktop is-offset-3-desktop is-paddingless">
        <div class="box">
          <h1 class="title">
            Reset Your Dawdle Password
          </h1>
          {{ render_form_errors(form) }}
          <form method="POST" class="js-form">
            {{ form.csrf_token }}
            {{ render_password(form.new_password, minlength='8', show_help=True) }}
            <div class="field content">
              <div class="control">
                <button type="submit" class="button is-fullwidth is-primary has-text-weight-bold js-submit">
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
