[MASTER]
max-line-length=79

[MESSAGES CONTROL]
disable=broad-except,
        duplicate-code,
        import-outside-toplevel,
        invalid-name,
        missing-docstring,
        no-member,
        too-few-public-methods,
        too-many-public-methods,
