doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Daily CSS Images"
    meta(name="description" content="Daily CSS Images Challenge")
    link(rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png")
    link(rel="manifest" href="./site.webmanifest")
    link(rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href="https://unpkg.com/papercss/dist/paper.min.css")
    link(rel="stylesheet" href="./index.css")
  body
    .container
      .paper
        .text-center
          h1 Daily CSS Images
          h3 Daily CSS Images Challenge
        ul
          li
            a(href="./day-1/index.html") Day 1 - Cub
          li
            a(href="./day-2/index.html") Day 2 - Elephant
          li
            a(href="./day-3/index.html") Day 3 - Beaver
          li
            a(href="./day-4/index.html") Day 4 - Tiger
          li
            a(href="./day-5/index.html") Day 5 - Favourite Animated Animal
          li
            a(href="./day-6/index.html") Day 6 - Clock
          li
            a(href="./day-7/index.html") Day 7 - Ruler
          li
            a(href="./day-8/index.html") Day 8 - Notepad
          li
            a(href="./day-9/index.html") Day 9 - Calendar
          li
            a(href="./day-10/index.html") Day 10 - Pencil Jar
          li
            a(href="./day-11/index.html") Day 11 - Pizza
          li
            a(href="./day-12/index.html") Day 12 - Hamburger
