<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{% block title %}Dawdle{% endblock %}</title>
  <meta name="description" content="A place to organise your projects.">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#00d1b2">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" rel="stylesheet"
    integrity="sha256-aPeK/N8IHpHsvPBCf49iVKMdusfobKo2oxF8lRruWJg=" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bulma-checkradio@1.1.1/dist/css/bulma-checkradio.min.css" rel="stylesheet"
    integrity="sha256-ej+83V4GB9ok2X22EvJ/ggEzzJ+gaZjm7G/Neq7wboQ=" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bulma-quickview@2.0.0/dist/css/bulma-quickview.min.css" rel="stylesheet"
    integrity="sha256-JtX5zJWvo1j4zBm4wb8sr42VE3ydQKl05Q6vhek6RV4=" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700%7CFredoka+One&display=swap" rel="stylesheet">
  {% assets 'dawdle_css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
</head>

<body>
  {% include 'shared/header.html' %}

  <main class="{{ container_classes }}">
    <div class="notification is-marginless is-radiusless is-hidden has-text-weight-bold js-notification">
      <button type="button" class="delete js-notification-close" aria-label="close"></button>
      <span class="js-notification-text"></span>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="notification is-marginless is-radiusless is-{{category}} has-text-weight-bold">
            <button type="button" class="delete js-notification-close" aria-label="close"></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>

  {% include 'shared/footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
    integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
    integrity="sha256-AAhU14J4Gv8bFupUUcHaPQfvrdNauRHMt+S4UVcaJb0=" crossorigin="anonymous"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"
    integrity="sha512-/A6lxqQJVUIMnx8B/bx/ERfeuJnqoWPJdUxN8aBj+tZYL35O998ry7UUGoN65PSUNlJNrqKZrDENi4i1c3zy4Q==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/shave/2.5.9/jquery.shave.min.js"
    integrity="sha256-dgPV6UA48kYYXQIGyCe9z6WZJd/djLmyQg1UcIlhr7Q=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bulma-quickview@2.0.0/dist/js/bulma-quickview.min.js"
    integrity="sha256-21aydKMZ29jHJNw67RbF19paw+q0TFKcKRDxi8MPLxM=" crossorigin="anonymous"></script>
  <script>
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token() }}');
        }
      }
    });
  </script>
  {% assets 'dawdle_js' %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>

</html>
