doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Day 6 - Clock"
    meta(name="description" content="Daily CSS Images Challenge")
    link(rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png")
    link(rel="manifest" href="../site.webmanifest")
    link(rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")
    link(href="./index.css", rel="stylesheet")
  body
    .box
      .clock
        .hour.hand
        .minute.hand
        .second.hand
        .center
        .number-wrapper.twelve
          .number.twelve
        .number-wrapper.one
          .number.one
        .number-wrapper.two
          .number.two
        .number-wrapper.three
          .number.three
        .number-wrapper.four
          .number.four
        .number-wrapper.five
          .number.five
        .number-wrapper.six
          .number.six
        .number-wrapper.seven
          .number.seven
        .number-wrapper.eight
          .number.eight
        .number-wrapper.nine
          .number.nine
        .number-wrapper.ten
          .number.ten
        .number-wrapper.eleven
          .number.eleven
    script(src='./index.js')
