@import '../../styles/base.css';

html {
  background-color: rgb(255, 120, 255);
}

body {
  align-content: center;
  align-items: center;
  color: rgb(34, 35, 36);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  min-height: 100%;
  min-height: 100vh;
}

.title {
  font-size: 7rem;
  text-align: center;
}

.title__score {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

.start-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 1rem;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
}

.game {
  display: flex;
  flex-wrap: wrap;
  height: 40rem;
  margin: 0 auto;
  width: 60rem;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.dirt {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -3rem;
  display: block;
  height: 7rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.mole {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  height: 100%;
  position: absolute;
  top: 100%;
  transition: all 0.4s;
  width: 100%;
}

.hole.up .mole {
  top: 0;
}
