{% extends 'user/settings.html' %}

{% from 'shared/utils.html' import render_form_errors, render_password %}

{% block title %}Update Password | Dawdle{% endblock %}

{% set settings_page='update-password' %}

{% block settings_content %}
  <h1 class="title">Update Password</h1>
  {{ render_form_errors(form) }}
  <form method="POST" class="content js-form">
    {{ form.csrf_token }}
    {{ render_password(form.current_password) }}
    {{ render_password(form.new_password, minlength='8', show_help=True) }}
    <div class="field content">
      <div class="control">
        <button type="submit" class="button is-fullwidth is-primary has-text-weight-bold js-submit">
          Update Password
        </button>
      </div>
    </div>
  </form>
  <a href="{{ url_for('auth.reset_password_request_GET') }}">Forgot your password?</a>
{% endblock %}
