@import '../../styles/base.css';

body {
  align-items: center;
  background-color: white;
  color: rgb(34, 35, 36);
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  justify-content: center;
  min-height: 100%;
  min-height: 100vh;
  text-align: center;
}

.arrow {
  border-radius: 50%;
  box-shadow: 0 0 0 0.4rem rgb(120, 255, 255), 0 0 0 0.8rem rgb(255, 120, 255);
  display: inline-block;
  margin: 1.6rem;
  overflow: hidden;
  transform: rotate(0deg);
  transition: all 0.2s;
  width: 25rem;
}

.text {
  margin: 1rem;
  text-shadow: 0.2rem 0.2rem rgb(120, 255, 255), 0.4rem 0.4rem rgb(255, 120, 255);
}

.units {
  font-size: 1.6rem;
}
